body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    cursor: default;
}

:root {
    --dark: #524948;
    --blue: #179BA4;
    --grape: #57467B;;
    --marine: #70F8BA;
    --lime: #CAFE48;
    --light:#f8f9fa;
}

.p-top{
    padding-top: 10.5rem;
}




/* HEADER STYLING */
header {
    background: var(--blue);
    border-bottom: 2px solid var(--grape);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo { 
    flex-grow: 1;
    font-family: 'Bungee Inline', cursive;
    font-size: 2.5rem;
}

.logo a{ 
    text-decoration: none;
}

header ul li {
    display: inline;
    margin-right: 1.8rem;
    font-size: 1.3rem;
}

header ul li a {
    color:#ffffff;
    text-decoration: none;
    font-weight: 100;
}

header ul li a:hover {
    color: #0dcaf0;
}

header ul li span {
    cursor: pointer;
    font-weight: 100;
}

header ul li span:hover {
    color: #0dcaf0;
}





/* CAROUSEL SLIDER STYLING */
.slider-backg {
    height: 560px;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
}

.slide-content {
    position: absolute;
    bottom: 20px;
    text-align: left;
    width: 50%;
}

.item {
    background: #191919b3;
    color: #fff;
    box-sizing: border-box;
    padding: 20px;
    font-size: 1.1rem;
    font-weight: 100;
}





/* FEATURED CARD STYLING */
.featured-home {
    background-color: var(--light);
    padding: 20px
}

.article-card{
    margin-top: 10px;
}




/* SIGN IN STYLING */
.signin-container h1 {
    text-align: center;
    color: #797979;
}

.signin-container form {
    width: 34rem;
    margin: 0 auto;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    padding: 20px;
}

.signin-container input {
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    font-size: 1.5rem;
    border-radius: 3px;
    box-shadow: none;
    background: #f6f6f6;
    padding: 10px;
}

.form-swap p {
    cursor: pointer;
    font-weight: 100;
    font-size: 1.3rem;
    color: var(--grape);
}

.signin-container button {
    width: 100%;
    background: var(--grape);
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.signin-container button:hover {
    color: var(--grape);
    border: 1px solid var(--grape);
    background: none;
}

.input-alert  {
    color: red;
    font-weight: bold;
    margin-bottom: 1.3rem;
}





/* ARTICLE PAGE STYLING */
.article-page {
    padding-bottom: 100px;
}

.article-featured {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 500px;
}

.article-content {
    margin-top: 50px;
}

.article-content h1 {
    font-weight: bold;
    font-size: 5rem;
}

.owner {
    font-size: 1.2rem;
}

.editor {
    font-size: 1.1rem;
}

.game-tag {
    background: var(--grape);
    display: inline-block;
    font-size: 1.5rem;
    padding: 5px 10px;
    color: white;
    font-weight: 100;
}

.article-rating {
    padding: 20px;
    background: var(--dark);
    display: inline-block;
    font-size: 2.8rem;
    color: white;
    font-weight: 100;
}






/* DASHBOARD STYLING */
.sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    z-index: 90;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.dashboard-container {
    margin-top: -2rem;
}

.dashboard-title {
    font-size: 2.5rem;
}
  
.nav-link {
    font-weight: 500;
    color: #333;
    font-size: 1.4rem;
}

.nav-link:hover .feather, .nav-link.active .feather {
    color: inherit;
}
  
.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.nav-item {
    border-bottom: 1px solid #e5e5e5;
}

.anticon {
    margin-right: 10px;
    font-size: 2rem;
}

.awesome-editor .ProseMirror {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius:.25rem;
    min-height: 250px;
}

.awesome-editor, .btn-container {
    margin-top: 20px;
    padding: 10px 0px;
}

.btn-container p {
    background: var(--grape);
    color: white;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}





/* PAGE LOADER STYLING */
.page-loader {
    text-align: center;
    padding-top: 25vh
}