body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    cursor: default;
}

:root {
    --dark: #524948;
    --blue: #179BA4;
    --grape: #57467B;;
    --marine: #70F8BA;
    --lime: #CAFE48;
    --light:#f8f9fa;
}

.p-top{
    padding-top: 10.5rem;
}




/* HEADER STYLING */
header {
    background: var(--blue);
    border-bottom: 2px solid var(--grape);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo { 
    flex-grow: 1;
    font-family: 'Bungee Inline', cursive;
    font-size: 2.5rem;
}

.logo a{ 
    text-decoration: none;
}

header ul li {
    display: inline;
    margin-right: 1.8rem;
    font-size: 1.3rem;
}

header ul li a {
    color:#ffffff;
    text-decoration: none;
    font-weight: 100;
}

header ul li a:hover {
    color: #0dcaf0;
}

header ul li span {
    cursor: pointer;
    font-weight: 100;
}

header ul li span:hover {
    color: #0dcaf0;
}

/* footer {
    background: #191919;
    color: #ffffff;
} */

/* footer .logo {
    font-family: 'Bungee Inline', cursive;
    font-size: 30px;
    line-height: 121px;
    text-align: center;
} */




/* CAROUSEL SLIDER STYLING */
/* .carousel__pagination {
    padding-left: 0px;
} */

.slider-backg {
    height: 560px;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
}

.slide-content {
    position: absolute;
    bottom: 20px;
    text-align: left;
    width: 50%;
}

.item {
    background: #191919b3;
    color: #fff;
    box-sizing: border-box;
    padding: 20px;
    font-size: 1.1rem;
    font-weight: 100;
}

/* .item h4 {
    font-size: 25px;
    font-weight: bold;
    color: white;
} */





/* FEATURED CARD STYLING */
/* .home_container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
} */
  
/* .home_container .md-card {
    box-sizing: border-box;
    margin-bottom: 10px;
    width: calc(1/3*100% - (1 - 1/3)*10px);
} */

.featured-home {
    background-color: var(--light);
    padding: 20px
}

.article-card{
    margin-top: 10px;
}




/* SIGN IN STYLING */
/* .signin-container {
    padding-top: 200px;
    height: 90vh;
} */

.signin-container h1 {
    text-align: center;
    color: #797979;
}

.signin-container form {
    width: 34rem;
    margin: 0 auto;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    padding: 20px;
}

/* .signin-container label {
    display: block;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 12px;
} */

.signin-container input {
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    font-size: 1.5rem;
    border-radius: 3px;
    box-shadow: none;
    background: #f6f6f6;
    padding: 10px;
}

.form-swap p {
    cursor: pointer;
    font-weight: 100;
    font-size: 1.3rem;
    color: var(--grape);
}

.signin-container button {
    width: 100%;
    background: var(--grape);
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.signin-container button:hover {
    color: var(--grape);
    border: 1px solid var(--grape);
    background: none;
}

.input-alert  {
    color: red;
    font-weight: bold;
    margin-bottom: 1.3rem;
}

/* .dashboard_form {
    width: 560px;
    margin-bottom: 100px;
} */

/* .dashboard_form .input_field input{
    width: 100%;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #dbdbdb;
    background: #f6f6f6;
    padding: 10px;
} */

/* .dashboard_form .input_field select {
    width: 100%;
    font-size: 20px;
    border: 1px solid #dbdbdb;
} */

/* .dashboard_form h1 {
    color: #434343;
    text-transform: uppercase;
    border-bottom: 1px solid #b8b8b8;
    margin: 20px 0px;
    line-height: 51px;
} */




/* ARTICLE PAGE STYLING */
.article-page {
    padding-bottom: 100px;
}

.article-featured {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 500px;
}

.article-content {
    margin-top: 50px;
}

.article-content h1 {
    font-weight: bold;
    font-size: 5rem;
}

.owner {
    font-size: 1.2rem;
}

.editor {
    font-size: 1.1rem;
}

.game-tag {
    background: var(--grape);
    display: inline-block;
    font-size: 1.5rem;
    padding: 5px 10px;
    color: white;
    font-weight: 100;
}

.article-rating {
    padding: 20px;
    background: var(--dark);
    display: inline-block;
    font-size: 2.8rem;
    color: white;
    font-weight: 100;
}






/* DASHBOARD STYLING */
.sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    z-index: 90;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
  
  /* @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  } */
  
  /* .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  } */
  
.nav-link {
    font-weight: 500;
    color: #333;
    font-size: 1.4rem;
}
  
  /* .feather {
    margin-right: 4px;
    color: #727272;
  } */
  

.nav-link:hover .feather, .nav-link.active .feather {
    color: inherit;
}
  
.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.nav-item {
    border-bottom: 1px solid #e5e5e5;
}


/* .error_label {
    color:red;
} */

/* .md-dialog {
    background: #ffffff;
    box-sizing: border-box;
    padding: 20px;
}     */

/* .md-dialog .md-button {
    color: #607D8B;
} */

/* .md-table-cell {
    max-width: 290px;
} */

/* .post_succesfull{
    font-size: 20px;
    background: #4CAF50;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
} */

/* .dashboard_welcome {
    height: 70vh;
    font-size: 20px;
} */

/* .load_more {
    cursor:pointer;
    text-align: center;
    margin: 20px;
} */

/* .load_more .button_default { 
    font-size: 21px;
    line-height: 33px;
    font-weight: 800;
    background: #2a2a2a;
}    */

/* .post_delete{ 
    color: #F44336;
    font-weight: 700;  
} */

/* .not_found {
    text-align: center;
} */

/* .not_found .anticon {
    font-size: 174px;
    color: #dc3545;
} */

/* .not_found h1{
    margin-top: 20px;
    font-size: 61px;
    font-weight: 100;
} */


/* .awesome_editor .ProseMirror {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius:.25rem;
    min-height: 250px;
} */

/* .awesome_editor .btn_container {
    border-top: 1px solid #dfdfdf;
    margin-top: 20px;
    padding: 10px 0px;
} */

/* .awesome_editor .btn_container span {
    background: var(--grape);
    color: white;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;

} */





/* PAGE LOADER STYLING */
/* .small_link {
    font-size: 12px;
    background: #F44336;
} */

/* .button_default:hover {
    background: #2b2b2b;;
    color: #ffffff;
} */

.page-loader {
    text-align: center;
    padding-top: 20vh
}